/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.bootstrap-iso .form-control-sm{
   height: calc(1.8rem) !important;
}
.list-issues{
  margin-top: 20px;
  margin-bottom: 20px;
}
